body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 80px 461px 100px;
}

header {
    justify-content: center;
    background-color:  #0074d9;
}

h1 {
    color: #fffdfd;
    text-align: center;
}
p {
    margin-top: 40px;
    text-align: center;
    color: #fffdfd;
}

footer {
    background-color: #333;
}
li  {
    text-decoration: none;
    color: #333;
    text-align: center;
    align-items: center;
}